<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-template-interporation></app-template-interporation>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ref-var></app-template-ref-var>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-value-bind></app-template-value-bind>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-event-binding></app-template-event-binding>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-two-way-binding></app-template-two-way-binding>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-if></app-template-ng-if>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-for></app-template-ng-for>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-switch></app-template-ng-switch>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-class></app-template-ng-class>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-style></app-template-ng-style>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <app-template-ng-model></app-template-ng-model>
    </div>
  </div>
</div>